# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/



# Miscellaneous
/examples/*.class
/examples/*.log
/examples/*.pyc
/examples/*.swp
/examples/.DS_Store
/examples/.atom/
/examples/.buildlog/
/examples/.history
/examples/.svn/
/examples/migrate_working_dir/

# IntelliJ related
/examples/*.iml
/examples/*.ipr
/examples/*.iws
/examples/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
/examples/**/doc/api/
/examples/**/ios/Flutter/.last_build_id
/examples/.dart_tool/
/examples/.flutter-plugins
/examples/.flutter-plugins-dependencies
/examples/.packages
/examples/.pub-cache/
/examples/.pub/
/examples//build/

# Symbolication related
/examples/app.*.symbols

# Obfuscation related
/examples/app.*.map.json

# Android Studio will place build artifacts here
/examples//android/app/debug
/examples//android/app/profile
/examples//android/app/release
